.share-popup {
  border-radius: 20px;
  border: 4px solid #dbdbdb;
  position: relative;
  max-width: 452px;
  margin: 0 auto;
}

.share-popup .user-info {
  padding: 0 30px;
}

.share-popup .img {
  width: 122px;
  height: 122px;
  overflow: hidden;
  border-radius: 100%;
  border: 4px solid #fff;
  margin: -66px auto 20px;
}

.share-popup .img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}

.share-popup h3 {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.share-popup .btn-close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  background: #1d2329;
}

.share-popup .btn-close:hover {
  background: rgba(29, 35, 41, 0.56);
}

.share-popup .form-block {
  padding: 0 30px 18px;
}

.share-popup .form-block.black {
  padding: 27px 30px;
  background: #000;
  border-radius: 0 0 15px 15px;
}

.share-popup .title {
  display: block;
  color: #fff;

  margin: 0 0 7px;
}

.share-popup .form-control {
  border-color: #fff;
  font-weight: 400;
  color: var(--pallete-text-main);
  padding: 18px 15px 3px;
}

.share-popup .form-control:focus {
  border-width: 1px;
  border-color: #fff;
}

.share-popup .text-input {
  margin: 0 0 12px;
}

.share-popup .text-input label {
  color: var(--pallete-text-main);
  font-weight: 400;
}

.share-popup .text-input.input-active .form-control {
  border-width: 1px;
}

.share-popup .btn.btn-primary {
  width: 130px;
  height: 45px;
  font-weight: 500;
  min-width: inherit;
  padding: 9px 15px 7px;
  margin: 0 auto;
  display: block;
}

.share-popup .btn.btn-primary:hover,
.share-popup .btn.btn-primary:focus {
  background: #a30b53;
  border-color: #a30b53;
}

@media (max-width: 767px) {
  .share-popup .user-info {
    padding: 0 15px;
  }

  .share-popup .form-block {
    padding: 0 20px 18px;
  }

  .share-popup .form-block.black {
    padding: 27px 20px;
  }

  .share-popup .form-control {
    font-size: 14px;
  }

  .share-popup .text-input label {
    font-size: 14px;
  }
}
