.sp_dark {
  --mode: dark;
  --pallete-error-main: #d32f2f;
  --pallete-error-light: #ef5350;
  --pallete-error-dark: #c62828;
  --pallete-primary-main-rgb: 229, 16, 117;
  --pallete-primary-main: rgb(var(--pallete-primary-main-rgb));
  --pallete-primary-light: #c90e67;
  --pallete-primary-light-300: rgba(201, 14, 103, 0.8);
  --pallete-primary-lighter: #82a2ff;
  --pallete-primary-dark: #c90e67;
  --pallete-primary-darker: #c90e67;
  --pallete-secondary-main: #c90e67;
  --pallete-secondary-light: rgb(102, 140, 171);
  --pallete-secondary-lighter: #fd52a5;
  --pallete-secondary-dark: #236fb7;
  --pallete-secondary-darker: #c90e67;
  --pallete-common-black: #000000;
  --pallete-common-white: #ffffff;
  --pallete-text-main: #ffffff;
  --pallete-text-main-50: #999;
  --pallete-text-main-100: #fff;
  --pallete-text-main-150: #b2b2b2;
  --pallete-text-main-200: #999;
  --pallete-text-main-250: #fff;
  --pallete-text-main-300: #b4b4b4;
  --pallete-text-main-350: #999;
  --pallete-text-main-400: #999;
  --pallete-text-main-450: #999;
  --pallete-text-main-500: #999;
  --pallete-text-main-550: #999;
  --pallete-text-main-600: #999;
  --pallete-text-main-650: #999;
  --pallete-text-main-700: #fff;
  --pallete-text-main-750: #fff;
  --pallete-text-main-800: #fff;
  --pallete-text-secondary: #c90e67;
  --pallete-text-button-primary: var(--pallete-text-main);
  --pallete-text-secondary-50: #c90e67;
  --pallete-text-secondary-100: #c90e67;
  --pallete-text-secondary-150: #fd52a5;
  --pallete-text-secondary-200: #fd52a5;
  --pallete-text-secondary-250: #999;
  --pallete-text-secondary-300: #fd52a5;
  --pallete-text-secondary-350: #ec539d;
  --pallete-text-light: #9e9e9e;
  --pallete-text-light-50: #999;
  --pallete-text-light-100: #fff;
  --pallete-text-light-150: #fff;
  --pallete-text-lighter: #616161;
  --pallete-text-light-200: #d0d0d0;
  --pallete-text-light-250: #b4b4b4;
  --pallete-text-lighter-50: rgba(255, 255, 255, 0.6);
  --pallete-text-lighter-100: #333;
  --pallete-text-lighter-150: #fff;
  --pallete-text-lighter-200: rgba(255, 255, 255, 0.1);
  --pallete-text-lighter-250: #fff;
  --pallete-text-lighter-300: #000;
  --pallete-text-lighter-350: #999;
  --pallete-text-lighter-400: #191919;
  --pallete-text-dark: #eeeeee;
  --pallete-text-darker: #f5f5f5;
  --pallete-text-darker-50: #9d064f;
  --pallete-action-hover: rgb(53, 21, 255);
  --pallete-action-disabled: #e0e0e0;
  --pallete-action-active: rgb(38, 8, 229);
  --pallete-action-focus: rgb(34, 7, 204);
  --pallete-action-disabledBackground: #bdbdbd;
  --pallete-action-selected: rgb(30, 6, 178);
  --pallete-background-light: rgba(255, 255, 255, 0.2);
  --pallete-background-default: #000000;
  --pallete-background-default-revers: #fff;
  --pallete-background-black: #fcfdff;
  --pallete-background-primary: #000000;
  --pallete-background-primary-100: #262626;
  --pallete-background-primary-light: rgba(255, 255, 255, 0.1);
  --pallete-background-secondary: rgba(255, 255, 255, 0.15);
  --pallete-background-secondary-light: rgba(255, 255, 255, 0.1);
  --pallete-background-secondaryDarker: rgba(255, 255, 255, 0.1);
  --pallete-background-pink: rgba(255, 255, 255, 0.3);
  --pallete-background-pink-100: rgba(255, 255, 255, 0.1);
  --pallete-background-gray: #000000;
  --pallete-background-gray-100: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-200: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-300: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-350: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-400: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-primary: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-secondary: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-secondary-100: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-secondary-150: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-secondary-200: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-secondary-300: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-secondary-400: rgba(255, 255, 255, 0.15);
  --pallete-background-gray-secondary-light: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-lighter: rgba(255, 255, 255, 0.1);
  --pallete-background-gray-darker: rgba(255, 255, 255, 0.1);
  --pallete-background-blue: rgba(255, 255, 255, 0.1);
  --pallete-background-blue-A100: rgba(255, 255, 255, 0.15);
  --pallete-background-blue-A300: rgba(255, 255, 255, 0.15);
  --pallete-social-networks-color: #fd52a5;
  --pallete-background-hover: rgba(255, 255, 255, 0.15);
  --pallete-colors-border: rgba(53, 53, 53, 1);
  --pallete-colors-border-blue: rgba(53, 53, 53, 1);
  --breakpoints-small: 31.25em;
  --breakpoints-medium: 43.75em;
  --breakpoints-lg: 46.875em;

  --shadows-0: none;
  --shadows-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadows-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadows-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadows-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadows-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --shadows-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --shadows-7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --shadows-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --shadows-9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --shadows-10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --shadows-11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --shadows-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --shadows-13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --shadows-14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --shadows-15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --shadows-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --shadows-17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --shadows-18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --shadows-19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --shadows-20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --shadows-21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --shadows-22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --shadows-23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --shadows-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --colors-darkGrey-50: rgba(255, 255, 255, 0.1);
  --colors-darkGrey-100: #bebebe;
  --colors-darkGrey-200: #9e9e9e;
  --colors-darkGrey-300: #999;
  --colors-darkGrey-400: #636363;
  --colors-darkGrey-500: #484848;
  --colors-darkGrey-600: #2e2e2e;
  --colors-darkGrey-700: #161616;
  --colors-darkGrey-800: #030303;
  --colors-darkGrey-900: #000000;
  --colors-darkGrey-A100: #353535;
  --colors-darkGrey-A200: #8c8c8c;
  --colors-darkGrey-A400: #737373;
  --colors-darkGrey-A700: #595959;
  --colors-darkBlue-50: #e5edff;
  --colors-darkBlue-100: #cbdbff;
  --colors-darkBlue-200: #b2c9ff;
  --colors-darkBlue-300: #99b6ff;
  --colors-darkBlue-400: #82a2ff;
  --colors-darkBlue-500: #6b8eff;
  --colors-darkBlue-600: #5578ff;
  --colors-darkBlue-700: #4260ff;
  --colors-darkBlue-800: #3342ff;
  --colors-darkBlue-900: #2b09ff;
  --colors-darkBlue-A100: #2407de;
  --colors-darkBlue-A200: #1d05be;
  --colors-darkBlue-A400: #16039e;
  --colors-darkBlue-A700: #100280;
  --colors-amber-50: #fff8e1;
  --colors-amber-100: #ffecb3;
  --colors-amber-200: #ffe082;
  --colors-amber-300: #ffd54f;
  --colors-amber-400: #ffca28;
  --colors-amber-500: #ffc107;
  --colors-amber-600: #ffb300;
  --colors-amber-700: #ffa000;
  --colors-amber-800: #ff8f00;
  --colors-amber-900: #ff6f00;
  --colors-amber-A100: #ffe57f;
  --colors-amber-A200: #ffd740;
  --colors-amber-A400: #ffc400;
  --colors-amber-A700: #ffab00;
  --colors-blue-50: #e3f2fd;
  --colors-blue-100: #bbdefb;
  --colors-blue-200: #90caf9;
  --colors-blue-300: #64b5f6;
  --colors-blue-400: #42a5f5;
  --colors-blue-500: #2196f3;
  --colors-blue-600: #1e88e5;
  --colors-blue-700: #1976d2;
  --colors-blue-800: #1565c0;
  --colors-blue-900: #0d47a1;
  --colors-blue-A100: #82b1ff;
  --colors-blue-A200: #448aff;
  --colors-blue-A400: #2979ff;
  --colors-blue-A700: #2962ff;
  --colors-blueGrey-50: #eceff1;
  --colors-blueGrey-100: #cfd8dc;
  --colors-blueGrey-200: #b0bec5;
  --colors-blueGrey-300: #90a4ae;
  --colors-blueGrey-400: #78909c;
  --colors-blueGrey-500: #607d8b;
  --colors-blueGrey-600: #546e7a;
  --colors-blueGrey-700: #455a64;
  --colors-blueGrey-800: #37474f;
  --colors-blueGrey-900: #263238;
  --colors-blueGrey-A100: #cfd8dc;
  --colors-blueGrey-A200: #b0bec5;
  --colors-blueGrey-A400: #78909c;
  --colors-blueGrey-A700: #455a64;
  --colors-brown-50: #efebe9;
  --colors-brown-100: #d7ccc8;
  --colors-brown-200: #bcaaa4;
  --colors-brown-300: #a1887f;
  --colors-brown-400: #8d6e63;
  --colors-brown-500: #795548;
  --colors-brown-600: #6d4c41;
  --colors-brown-700: #5d4037;
  --colors-brown-800: #4e342e;
  --colors-brown-900: #3e2723;
  --colors-brown-A100: #d7ccc8;
  --colors-brown-A200: #bcaaa4;
  --colors-brown-A400: #8d6e63;
  --colors-brown-A700: #5d4037;
  --colors-cyan-50: #e0f7fa;
  --colors-cyan-100: #b2ebf2;
  --colors-cyan-200: #80deea;
  --colors-cyan-300: #4dd0e1;
  --colors-cyan-400: #26c6da;
  --colors-cyan-500: #00bcd4;
  --colors-cyan-600: #00acc1;
  --colors-cyan-700: #0097a7;
  --colors-cyan-800: #00838f;
  --colors-cyan-900: #006064;
  --colors-cyan-A100: #84ffff;
  --colors-cyan-A200: #18ffff;
  --colors-cyan-A400: #00e5ff;
  --colors-cyan-A700: #00b8d4;
  --colors-deepOrange-50: #fbe9e7;
  --colors-deepOrange-100: #ffccbc;
  --colors-deepOrange-200: #ffab91;
  --colors-deepOrange-300: #ff8a65;
  --colors-deepOrange-400: #ff7043;
  --colors-deepOrange-500: #ff5722;
  --colors-deepOrange-600: #f4511e;
  --colors-deepOrange-700: #e64a19;
  --colors-deepOrange-800: #d84315;
  --colors-deepOrange-900: #bf360c;
  --colors-deepOrange-A100: #ff9e80;
  --colors-deepOrange-A200: #ff6e40;
  --colors-deepOrange-A400: #ff3d00;
  --colors-deepOrange-A700: #dd2c00;
  --colors-deepPurple-50: #ede7f6;
  --colors-deepPurple-100: #d1c4e9;
  --colors-deepPurple-200: #b39ddb;
  --colors-deepPurple-300: #9575cd;
  --colors-deepPurple-400: #7e57c2;
  --colors-deepPurple-500: #673ab7;
  --colors-deepPurple-600: #5e35b1;
  --colors-deepPurple-700: #512da8;
  --colors-deepPurple-800: #4527a0;
  --colors-deepPurple-900: #311b92;
  --colors-deepPurple-A100: #b388ff;
  --colors-deepPurple-A200: #7c4dff;
  --colors-deepPurple-A400: #651fff;
  --colors-deepPurple-A700: #6200ea;
  --colors-green-50: #e8f5e9;
  --colors-green-100: #c8e6c9;
  --colors-green-200: #a5d6a7;
  --colors-green-300: #81c784;
  --colors-green-400: #66bb6a;
  --colors-green-500: #4caf50;
  --colors-green-600: #43a047;
  --colors-green-700: #388e3c;
  --colors-green-800: #2e7d32;
  --colors-green-900: #1b5e20;
  --colors-green-A100: #b9f6ca;
  --colors-green-A200: #69f0ae;
  --colors-green-A400: #00e676;
  --colors-green-A700: #00c853;
  --colors-grey-50: #fafafa;
  --colors-grey-100: rgba(255, 255, 255, 0.1);
  --colors-grey-200: #eeeeee;
  --colors-grey-300: #e0e0e0;
  --colors-grey-400: #bdbdbd;
  --colors-grey-500: #9e9e9e;
  --colors-grey-600: #757575;
  --colors-grey-700: #616161;
  --colors-grey-800: #424242;
  --colors-grey-900: #212121;
  --colors-grey-A100: #f5f5f5;
  --colors-grey-A200: #eeeeee;
  --colors-grey-A400: #bdbdbd;
  --colors-grey-A700: #616161;
  --colors-indigo-50: #e8eaf6;
  --colors-indigo-100: #c5cae9;
  --colors-indigo-200: #fd52a5;
  --colors-indigo-300: #7986cb;
  --colors-indigo-400: #5c6bc0;
  --colors-indigo-500: #c90e67;
  --colors-indigo-600: #3949ab;
  --colors-indigo-700: #303f9f;
  --colors-indigo-800: #283593;
  --colors-indigo-900: #1a237e;
  --colors-indigo-A100: #8c9eff;
  --colors-indigo-A200: #536dfe;
  --colors-indigo-A400: #3d5afe;
  --colors-indigo-A700: #304ffe;
  --colors-lightBlue-50: #e1f5fe;
  --colors-lightBlue-100: #b3e5fc;
  --colors-lightBlue-200: #81d4fa;
  --colors-lightBlue-300: #4fc3f7;
  --colors-lightBlue-400: #29b6f6;
  --colors-lightBlue-500: #03a9f4;
  --colors-lightBlue-600: #039be5;
  --colors-lightBlue-700: #0288d1;
  --colors-lightBlue-800: #0277bd;
  --colors-lightBlue-900: #01579b;
  --colors-lightBlue-A100: #80d8ff;
  --colors-lightBlue-A200: #40c4ff;
  --colors-lightBlue-A400: #00b0ff;
  --colors-lightBlue-A700: #0091ea;
  --colors-lightGreen-50: #f1f8e9;
  --colors-lightGreen-100: #dcedc8;
  --colors-lightGreen-200: #c5e1a5;
  --colors-lightGreen-300: #aed581;
  --colors-lightGreen-400: #9ccc65;
  --colors-lightGreen-500: #8bc34a;
  --colors-lightGreen-600: #7cb342;
  --colors-lightGreen-700: #689f38;
  --colors-lightGreen-800: #558b2f;
  --colors-lightGreen-900: #33691e;
  --colors-lightGreen-A100: #ccff90;
  --colors-lightGreen-A200: #b2ff59;
  --colors-lightGreen-A400: #76ff03;
  --colors-lightGreen-A700: #64dd17;
  --colors-lime-50: #f9fbe7;
  --colors-lime-100: #f0f4c3;
  --colors-lime-200: #e6ee9c;
  --colors-lime-300: #dce775;
  --colors-lime-400: #d4e157;
  --colors-lime-500: #cddc39;
  --colors-lime-600: #c0ca33;
  --colors-lime-700: #afb42b;
  --colors-lime-800: #9e9d24;
  --colors-lime-900: #827717;
  --colors-lime-A100: #f4ff81;
  --colors-lime-A200: #eeff41;
  --colors-lime-A400: #c6ff00;
  --colors-lime-A700: #aeea00;
  --colors-orange-50: #fff3e0;
  --colors-orange-100: #ffe0b2;
  --colors-orange-200: #ffcc80;
  --colors-orange-300: #ffb74d;
  --colors-orange-400: #ffa726;
  --colors-orange-500: #ff9800;
  --colors-orange-600: #fb8c00;
  --colors-orange-700: #f57c00;
  --colors-orange-800: #ef6c00;
  --colors-orange-900: #e65100;
  --colors-orange-A100: #ffd180;
  --colors-orange-A200: #ffab40;
  --colors-orange-A400: #ff9100;
  --colors-orange-A700: #ff6d00;
  --colors-pink-50: #fce4ec;
  --colors-pink-100: #f8bbd0;
  --colors-pink-200: #f48fb1;
  --colors-pink-300: #f06292;
  --colors-pink-400: #ec407a;
  --colors-pink-500: #e91e63;
  --colors-pink-600: #d81b60;
  --colors-pink-700: #c2185b;
  --colors-pink-800: #ad1457;
  --colors-pink-900: #880e4f;
  --colors-pink-A100: #ff80ab;
  --colors-pink-A200: #ff4081;
  --colors-pink-A400: #f50057;
  --colors-pink-A700: #c51162;
  --colors-purple-50: #f3e5f5;
  --colors-purple-100: #e1bee7;
  --colors-purple-200: #ce93d8;
  --colors-purple-300: #ba68c8;
  --colors-purple-400: #ab47bc;
  --colors-purple-500: #9c27b0;
  --colors-purple-600: #8e24aa;
  --colors-purple-700: #7b1fa2;
  --colors-purple-800: #6a1b9a;
  --colors-purple-900: #4a148c;
  --colors-purple-A100: #ea80fc;
  --colors-purple-A200: #e040fb;
  --colors-purple-A400: #d500f9;
  --colors-purple-A700: #aa00ff;
  --colors-red-50: #ffebee;
  --colors-red-100: #ffcdd2;
  --colors-red-200: #ef9a9a;
  --colors-red-300: #e57373;
  --colors-red-400: #ef5350;
  --colors-red-500: #f44336;
  --colors-red-600: #e53935;
  --colors-red-700: #d32f2f;
  --colors-red-800: #c62828;
  --colors-red-900: #b71c1c;
  --colors-red-A100: #ff8a80;
  --colors-red-A200: #ff5252;
  --colors-red-A400: #ff1744;
  --colors-red-A700: #d50000;
  --colors-teal-50: #e0f2f1;
  --colors-teal-100: #b2dfdb;
  --colors-teal-200: #80cbc4;
  --colors-teal-300: #4db6ac;
  --colors-teal-400: #26a69a;
  --colors-teal-500: #009688;
  --colors-teal-600: #00897b;
  --colors-teal-700: #00796b;
  --colors-teal-800: #00695c;
  --colors-teal-900: #004d40;
  --colors-teal-A100: #a7ffeb;
  --colors-teal-A200: #64ffda;
  --colors-teal-A400: #1de9b6;
  --colors-teal-A700: #00bfa5;
  --colors-yellow-50: #fffde7;
  --colors-yellow-100: #fff9c4;
  --colors-yellow-200: #fff59d;
  --colors-yellow-300: #fff176;
  --colors-yellow-400: #ffee58;
  --colors-yellow-500: #ffeb3b;
  --colors-yellow-600: #fdd835;
  --colors-yellow-700: #fbc02d;
  --colors-yellow-800: #f9a825;
  --colors-yellow-900: #f57f17;
  --colors-yellow-A100: #ffff8d;
  --colors-yellow-A200: #ffff00;
  --colors-yellow-A400: #ffea00;
  --colors-yellow-A700: #ffd600;
}
